node_modules
.next
.worktrees
.opencode
dist
coverage
.DS_Store
.env
*.log
prisma/dev.db
.claude
.agents
content/posts/**
!content/posts/
!content/posts/.gitkeep
!content/posts/README.md
public/uploads/mock-wallpapers/**
!public/uploads/mock-wallpapers/
!public/uploads/mock-wallpapers/.gitkeep
CLAUDE.md
DEPLOY.md
